@model PagedList.IPagedList<RBS.Models.DepartmentModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Department</h2>
<br />

@using (Html.BeginForm("Index", "Department", FormMethod.Get))
{
    <div class="col-md-6 remove-padding">
        <div class="input-group">
            <input type="text" id="SearchTerm" name="SearchTerm" class="form-control search_textbox" placeholder="Search by Department" value="@ViewBag.SearchTerm">
            <span class="input-group-btn">
                @if (!string.IsNullOrEmpty(ViewBag.SearchTerm))
                {
                    <button class="btn btn-default clear_search" type="button" onclick="clearText()"><i class="glyphicon glyphicon-remove"></i></button>
                }
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Search</button>
            </span>
        </div>
    </div>
}

<div class="col-md-6">
    <div class="pull-right">
        <a class="link_button" href="@Url.Action("Create")"><i class="action_icon glyphicon glyphicon-plus"></i>&nbsp;&nbsp;New Department</a>
    </div>
</div>
<div class="clearfix"></div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <div class="action_button_group pull-right">
                    <a class="link_button first_button" href="@Url.Action("Edit", new { id = item.ID })"><i class="action_icon glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Edit</a>
                    <a class="link_button mid_button" href="@Url.Action("Details", new { id = item.ID })"><i class="action_icon glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Details</a>
                    <a class="link_button last_button red_hover" href="@Url.Action("Delete", new { id = item.ID })"><i class="action_icon glyphicon glyphicon-trash"></i>&nbsp;&nbsp;Delete</a>
                </div>
            </td>
        </tr>
    }

</table>
<br />
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))